Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
SQLAlchemy
PyMySQL
Werkzeug
alembic
cryptography
python-dotenv
google-genai
langgraph
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
mysql-connector-python
